.textSearchTag{
  color:#345586;
  font-size:200%;
}

.colCardEvent{
  display:flex;
  justify-content:center;
}


@media only screen and (max-width: 600px) {
  .textSearchTag{
    font-size:20px !important;
    display:flex;
    justify-content:center;
  }
}


@media only screen and (max-width: 900px) {
  .textSearchTag{
    font-size:25px;
    display:flex;
    justify-content:center;
  }
}
