.card-events{
  width: 200px;
  height: 350px;
  border: 1px solid #e8e8e8 !important;
  border-radius: 5px !important;
  text-align: left
}

.avatar-events {
  width: 150px;
  height: 200px !important;
}
