.text{
  color: #ffffff;
  text-align: center;
  padding:150px
}

.carouselEvents{
  background-color:black !important;
  margin-bottom:40px;
}


@media only screen and (max-width: 600px) {
  .carouselEvents{
    height:200px
  }
}

@media only screen and (max-width: 300px) {
  .carouselEvents{
    height:50px
  }
}

