@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.header {
    background-color: #345586;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.dropDownHeader {
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
    color: #FFF !important;
    margin-bottom: 0px !important;
    font-size: 20px !important;
}

.buttonHeader {
    padding-right: 5px;
    color: #FFFFFF;
    /* border-right: 2px solid #fff; */
}

.loginandsignin {
    color: #FFFFFF;
    font-family: 'Prompt',sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.login {
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.signup {
    padding-left: 7px;
}

.inputSearch{
    width:100% !important;
}


.logo{
    height: 50px;
    width: auto


}

.dropDownUser{
    text-align: center !important;
    color: #FFF !important;
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
    font-size: 20px !important;
}


.sizeIconDropdown{
    font-size: 20px;
}



@media only screen and (max-width: 800px) {
    .dropDownHeader{
        display: none !important;
    }

    .logo{
        height: 30px;
    }
  }