@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
.siderAdmin {
    width: 200px;
    background-color: #ffffff !important;
    border-right: 1px solid #BCBABE;
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
