.payment-header-row {
  background-color: #bcbabe;
  padding: 1rem;
}

.payment-header-body {
  padding: 1rem;
}

.payment-footer-summary {
  padding: 1rem;
}

#bank-account-div > div {
  background-color: #bcbabe;
}

#process-div button {
  border: none;
  border-radius: 50%;
  background-color: #bcbabe;
  color: white;
}

#process-div button.active {
  background-color: #345586;
  color: white;
}

#process-div p {
  color: #345586;
}
