.avatar-uploader > .ant-upload {
  margin-top: 60px;
  width: 200px!important;
  height: 200px!important;
}
.decorationForm{
  font-family: 'Prompt', sans-serif;
}

.ant-upload-list-item.ant-upload-list-item-undefined.ant-upload-list-item-list-type-picture-card{
  /* margin-top: 60px; */
  height: 198px;
  width: 198px;
  position: absolute;
  top: 70px;
  left: -60px;
}
@media screen and (max-width: 1200px) {
  h5{
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  h5{
    margin-left: 0px;
  }
  .infoPadding{
    padding: 20px 50px;
  }
}