.event-detail {
    background-color: #F1F1F2;
    margin: 20px 10%;
    font-family: 'Prompt', sans-serif;

}

.event-info {
    background: linear-gradient(90deg, #3a538d 0%, #182848 100%);
}

.img-info {
    margin-top: 60px;
    margin-left: 130px;
    margin-bottom: 60px;
}

.detail {
    margin-top: 60px;
    margin-bottom: 60px;

    color: #F1F1F2;
}

.event-name {
    font-size: 30px;
}

.event-date {
    font-size: 20px;
}