@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");

/* .tableEvent {
  font-family: "Prompt", sans-serif;
} */
.headingTableEvent {
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #345586;
}

.eventDetail {
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000106;
}

.eventStatusDetail {
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #626265;
}

.btn-paymentStatus {
    border: 2px solid #345586;
    border-radius: 10px;
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #345586;
}

.btn-paymentStatus:hover {
    border: 2px solid #345586;
    background-color: #345586;
    border-radius: 10px;
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.btn-paymentStatus::selection {
    border: 2px solid #345586 !important;
    border-radius: 10px;
    font-family: "Prompt", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #345586 !important;
}